SPRING_DATASOURCE_URL=jdbc:postgresql://backend-db:5432/example-db
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_JPA_HIBERNATE_DDL_AUTO=update

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=example-db

FRONTEND_URL="http://localhost:3000"
CORE_URL="http://localhost:8000"