.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ==================== */

:root {
  --temna-pozadina: #212529;
  --temna-border: #384045;
  --netemna-boja: #4c5053;

  --sidebar-bg: #1e1e1e;
}

*{
  z-index: 3;
}

/* ==========scrollbar============ */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(84, 84, 84);
  border-radius: 10px;
}


* {
  color: white;
}


/* ==================== */
body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-color: var(--temna-pozadina);
}

.sidebar {
  width: 250px;
  background-color: var(--sidebar-bg);
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  overflow: hidden;
  padding-left: 10px;
  min-height: 100vh;
  z-index: 5;
}

.sidebar .sidebar-header {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  z-index: 5;
}

.sidebar .new-chat {
  color: white;
  cursor: pointer;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 15px;
}

.sidebar a span {
  padding-left: 5px;
}

.bg-podark {
  background-color: var(--temna-pozadina);
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #343a40;
  border-radius: 8px;
}

.sidebar .dot-menu {
  color: white;
  cursor: pointer;
}

.sidebar .dot-menu:hover {
  color: white;
  cursor: pointer;
  font-size: large;
}

.pluscheto:hover{
  background-color: var(--netemna-boja);
  padding: 5px;
  border-radius: 7px;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 84vw;
}

.header {
  background-color: var(--temna-pozadina);
  padding: 10px 20px;
  border-bottom: 1px solid var(--temna-border);
}

.conversation {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--temna-pozadina);
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  height: calc(100vh - 132px);
  /* Adjusting for header and footer height */
}

.message {
  margin-bottom: 20px;
  max-width: 92%;
  min-width: 92%;
  padding: 10px;
  border-radius: 10px;
}

.message.user {
  /* background-color: #007bff; */
  background-color: var(--netemna-boja);
  color: white;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.message.assistant {
  background-color: var(--temna-pozadina);
  border: 1px solid var(--temna-border);
  align-self: flex-start;
  border-bottom-left-radius: 0;
}

.footer {
  /* background-color: #f8f9fa; */
  background-color: var(--temna-pozadina);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  padding-inline: 200px;
}

.footer input {
  flex-grow: 1;
  margin-right: 10px;
  background-color: var(--temna-border);
  outline: none;
  border: none;
  border-radius: 15px;
}

.footer .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.footer .btn i {
  margin: 0;
}