# === OpenAi === #
OPENAI_API_KEY=
OPENAI_MODEL_NAME=
OPENAI_MODEL_TEMPERATURE=

# === MODEL SETTINGS === #
SIMILARITY_TOP_K=
RERANKER_TOP_N=
SENTENCE_PERCENTILE_CUTOFF=

# === Qdrant === #
QDRANT_HOST="core-vector-database"
QDRANT_PORT="6333"
QDRANT_COLLECTION="example-collection"

# === MongoDB === #
MONGO_URL="mongodb://core-chats-db:27017/example-db"
